/* Fuente de la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0; /* Fondo claro */
    color: #333; /* Color oscuro para texto */
}

/* Estilo para el formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

/* Estilo de las etiquetas */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #2A3D66; /* Azul oscuro */
}

/* Estilo de los inputs, select y textarea */
input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc; /* Borde gris suave */
    border-radius: 5px;
    font-size: 16px;
}

/* Cambio de color en el borde al recibir foco */
input:focus, select:focus, button:focus {
    border-color: #2A3D66; /* Azul oscuro */
    outline: none;
}

/* Estilo para el botón */
button {
    background-color: #2A3D66; /* Azul oscuro */
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #1A2A4C; /* Azul más oscuro al hacer hover */
}

/* Estilo para el encabezado */
h2 {
    text-align: center;
    font-size: 1.5em;
    color: #2A3D66; /* Azul oscuro */
}

/* Agregar espaciado entre elementos */
form > label, form > input, form > select, form > button {
    margin-bottom: 15px;
}
